.container{
  width: 700px;
  margin: auto;
  border: 2px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  border: 2px solid red;
  padding: 10px;
}

form input{
  /* width: 50px; */
  margin: 0 20px 10px 0px;
}

#passlength{
  width: 200px;
  margin-left: 2em;
}